@media (min-width: 768px) {
  .details {
    width: 30%;
    float: left;
  }
}

@media (max-width: 768px) {
  .summary {
    margin-top: 1.5em;
    span {
      display: block;
    }
  }
}

.gridStyle {
  border: 1px solid rgb(212, 212, 212);
  width: 100%;
  height: 300px;
}

.details {
  margin: 1.5%;
  padding: 1.5%;
  @include border-radius(5px, 5px);

  p {
    margin-bottom: 0.5em;
  }
  span {
    font-size: 0.80em;
  }
}

.form-control {
  width: 100%;
}
.datepicker .form-control {
  width: 100%;
}
.timepicker .form-control {
  width: 50px;
}