<section class="interior" data-ng-controller="Administer" data-ng-init="find()">
    <h1><img src="img/thenounproject/car.svg"> Administer Attendees</h1>

    <p>Select an attendee to view details.</p>

    <div class="gridStyle" data-ng-grid="gridOptions"></div>
    <div class="details" data-ng-repeat="people in selectedPeople">
        <div class="attendee">
            <h2><span class="text-muted">Name:</span> {{people.name}}</h2>

            <p><span class="text-muted">Number in party:</span> {{people.partyNumber}}</p>

            <p><span class="text-muted">Date and time:</span> {{people.arrivalDate | date : 'MMMM dd'}}
                {{people.arrivalTime | date : 'h:mm a'}}</p>

            <p><span class="text-muted">Arrival Location:</span> {{people.arrivalLocation}}</p>

            <p><span class="text-muted">Notes:</span> {{people.notes}}</p>

            <p><span class="text-muted">Email:</span> {{people.email}}</p>
            <button class="btn btn-danger glyphicon glyphicon-trash" data-ng-click="remove(people);">
            </button>
        </div>
    </div>
</section>