<section class="interior" data-ng-controller="Display" data-ng-init="find()">
    <h1><img src="img/thenounproject/car.svg"> List of Attendees</h1>

    <p>Select an attendee to view details.</p>

    <div class="gridStyle" data-ng-grid="gridOptions"></div>
    <div class="details" data-ng-repeat="people in selectedPeople">
        <div class="attendee panel panel-default">
            <div class="panel-heading">
                <h2>{{people.name}}</h2>
            </div>
            <div class="panel-body">
                <p><span class="text-muted">Number in party:</span> {{people.partyNumber}}</p>

                <p><span class="text-muted">Date:</span> {{people.arrivalDate | date : 'MMMM dd'}}</p>

                <p><span class="text-muted">Time:</span>{{people.arrivalTime | date : 'h:mm a'}}</p>

                <p><span class="text-muted">Arrival Location:</span> {{people.arrivalLocation}}</p>

                <p><span class="text-muted">Notes:</span> {{people.notes}}</p>

                <p><span class="text-muted">Email:</span> {{people.email}}</p>
            </div>
        </div>
    </div>
</section>