<div class="jumbotron">
    <h1>
        <span class="glyphicon glyphicon-plane"></span>
        RideShare
        <span class="glyphicon glyphicon-road"></span>
    </h1>

    <p>Gabi and Rob are getting married in the remote reaches of Utah. This app is to help guests organize
        transportation.</p>
    <section data-ng-controller="SelectRole">
        <button class="btn btn-large btn-primary" type="button" data-ng-click="rider()">Sign Up</button>
        <button class="btn btn-large btn-primary" type="button" data-ng-click="list()">View List</button>
    </section>
</div>
<section>
    <h4>Attributions</h4>
    <a href="http://thenounproject.com/term/car/41015/">Car icon by Mani Amini from The Noun Project</a>.
</section>