<div class="jumbotron">
	<h1>
		<span class="glyphicon glyphicon-picture"></span> 
        RideShare
        <span class="glyphicon glyphicon-road"></span>
	</h1>
	<p>Gabi and Rob are getting married in the remote reaches of Utah. This app is to help guests organize transportation.</p>
	<section data-ng-controller="SelectRole">
		<button class="btn btn-large btn-primary" type="button" data-ng-click="rider()">Need a ride?</button>
		<button class="btn btn-large btn-primary" type="button" data-ng-click="driver()">Have a space in your car?</button>
	</section>
</div>
<div class="container">
	<h4>Attributions</h4>
	<a href="http://thenounproject.com/term/car/41015/">Car icon by Mani Amini from The Noun Project</a>.
</div>