<div class="jumbotron">
	<h1>Got Rides?</h1>
	<p>Gabi and Rob are getting married in the remote reaches of Utah. This app is to help guests organize transportation.</p>
	<section data-ng-controller="SelectRole">
		<button class="btn btn-large btn-primary" type="button" data-ng-click="rider()">Need a ride?</button>
		<button class="btn btn-large btn-primary" type="button" data-ng-click="driver()">Have a space in your car?</button>
	</section>
</div>
<div class="container">
	Various icons were provided via thenounproject.com. Car by Mani Amini from The Noun Project http://thenounproject.com/term/car/41015/
</div>