<div class="navbar navbar-default navbar-fixed-top" data-ng-controller="HeaderController">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-plane"></span>
            RideShare
            <span class="glyphicon glyphicon-road"></span>
        </a>

        <div class="navbar-right navbar-form navbar-nav collapse navbar-collapse" data-ng-controller="SelectRole">
            <button class="btn btn-large btn-warning" type="button" data-ng-click="rider()">Sign Up</button>
            <button class="btn btn-large btn-warning" type="button" data-ng-click="list()">View Attendees</button>
        </div>
    </div>
</div>