<div class="navbar navbar-fixed-top" data-ng-controller="HeaderController">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-picture"></span> Rideshare <span class="glyphicon glyphicon-road"></span></a>
            <span class="pull-right btn-navbar navbar-form" data-ng-hide="global.authenticated">
                <button class='btn' href="signup">Signup</button>
                <button class='btn' href="signin">Signin</button>
            </span>
            <ul class="navbar-nav nav pull-right" data-ng-show="global.authenticated">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        				{{global.user.name}} <b class="caret"></b>
        			</a>
                    <ul class="dropdown-menu">
                        <li><a href="/signout">Signout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>