/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@media (min-width: 768px) {
  /* line 2, ../../sass/_base.scss */
  h1 {
    white-space: nowrap;
  }

  /* line 5, ../../sass/_base.scss */
  .navbar-form {
    border-top: none;
    border-bottom: none;
    padding-right: 25px;
  }
  /* line 9, ../../sass/_base.scss */
  .navbar-form .navbar-right, .navbar-form .navbar-right:last-child {
    margin-right: 15px;
  }

  /* line 14, ../../sass/_base.scss */
  .interior,
  .container {
    padding: 15px 30px;
    overflow: auto;
  }
}
@media (max-width: 768px) {
  /* line 21, ../../sass/_base.scss */
  h1 {
    text-align: center;
  }
}
/* line 25, ../../sass/_base.scss */
body {
  background: url("/img/lax.jpg") no-repeat;
  width: 100%;
}

/* line 30, ../../sass/_base.scss */
.navbar-form {
  border-top: none;
  border-bottom: none;
  padding-right: 25px;
}
/* line 34, ../../sass/_base.scss */
.navbar-form.navbar-right, .navbar-form.navbar-right:last-child {
  margin-right: 15px;
}

/* line 39, ../../sass/_base.scss */
.overlayColor {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

/* line 50, ../../sass/_base.scss */
.content {
  margin-top: 70px;
}

/* line 55, ../../sass/_base.scss */
.interior,
.container {
  padding: 15px 30px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  overflow: auto;
}

/* line 61, ../../sass/_base.scss */
.interior {
  background: #efefef;
}

/* line 65, ../../sass/_base.scss */
.btn-primary {
  background: #3498DB;
  border-color: #2b94d9;
}

/* line 70, ../../sass/_base.scss */
.navbar .nav > li > a.brand {
  padding-left: 20px;
  margin-left: 0;
}

/* line 75, ../../sass/_base.scss */
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #ddd;
  -webkit-box-shadow: 0 8px 6px 6px black;
  -moz-box-shadow: 0 8px 6px 6px black;
  box-shadow: 0 8px 6px 6px black;
}

/* line 87, ../../sass/_base.scss */
footer p {
  padding: 5px 0 12px 10px;
}

/* line 1, ../../sass/_articles.scss */
ul.articles li:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}

@media (min-width: 768px) {
  /* line 2, ../../sass/_rideshare.scss */
  .details {
    width: 30%;
    float: left;
  }
}
@media (max-width: 768px) {
  /* line 9, ../../sass/_rideshare.scss */
  .summary {
    margin-top: 1.5em;
  }
  /* line 11, ../../sass/_rideshare.scss */
  .summary span {
    display: block;
  }
}
/* line 17, ../../sass/_rideshare.scss */
.gridStyle {
  border: 1px solid #d4d4d4;
  width: 100%;
  height: 300px;
}

/* line 23, ../../sass/_rideshare.scss */
.details {
  margin: 1.5%;
  padding: 1.5%;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 28, ../../sass/_rideshare.scss */
.details p {
  margin-bottom: 0.5em;
}
/* line 31, ../../sass/_rideshare.scss */
.details span {
  font-size: 0.80em;
}

/* line 36, ../../sass/_rideshare.scss */
.form-control {
  width: 100%;
}

/* line 39, ../../sass/_rideshare.scss */
.datepicker .form-control {
  width: 100%;
}

/* line 42, ../../sass/_rideshare.scss */
.timepicker .form-control {
  width: 50px;
}
