@media (min-width: 768px) {
  h1 {
    white-space: nowrap;
  }
  .navbar-form {
    border-top: none;
    border-bottom: none;
    padding-right: 25px;
    .navbar-right, .navbar-right:last-child {
      margin-right: 15px;
    }
  }
  .interior,
  .container {
    padding: 15px 30px;
    overflow: auto;
  }
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
  }
}

body {
  //background: url('/rideshare/assets/img/lax.jpg') no-repeat;
  width: 100%;
}

.navbar-form {
  border-top: none;
  border-bottom: none;
  padding-right: 25px;

  &.navbar-right,
  &.navbar-right:last-child {
    margin-right: 15px;
  }
}

.overlay-color {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.content {
  margin-top: 70px;
}

.interior,
.container {
  padding: 15px 30px;
  @include border-radius(5px, 5px);
  overflow: auto;
}

.interior {
  background: #efefef;
}

.btn-primary {
  background: #3498DB;
  border-color: darken(#3498DB, 2);
}

.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}